extends layout

block scripts
    script(type='text/javascript').
        var nextSetTitle = !{JSON.stringify(nextSetTitle)};
        var prevSetTitle = !{JSON.stringify(prevSetTitle)};
        var theComicSet = !{JSON.stringify(theComicSet)};
        var uploadedBy = !{JSON.stringify(uploadedBy)};
        var currentUser = !{JSON.stringify(user_name)};
        var allowOthersToEdit = !{JSON.stringify(allowOthersToEdit)};
        var title = !{JSON.stringify(title)};
    script(src='/javascript/comic_page.js')
    script(src='/javascript/comic_display.js')



block content
    head
        link(rel='stylesheet', href='/stylesheets/style-page.css')
        link(rel='stylesheet', href='/stylesheets/rating.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        script(src='/javascript/rating.js')
        script(src='/javascript/rating_title.js')
        title Comic Page

    body
        nav.o-home-nav
            a.o-home-nav__link(href='/')
                //i.fa.fa-arrow-left
                .fa-1x Home

        nav.o-home-nav
            if(loggedin === 1)
                a.o-home-nav__link(href='/edit_comic')
                    //i.fa.fa-arrow-left
                    .fa-1x Create
            else
                a.o-home-nav__link(href='/login')
                    //i.fa.fa-arrow-left
                    .fa-1x Create

        nav.o-header-nav
            if(loggedin === 1)
                a.o-header-nav__link(href='/manage_comics')
                    //i.fa.fa-arrow-left
                    .fa-1x Manage
            else
                a.o-header-nav__link(href='/login')
                    //i.fa.fa-arrow-left
                    .fa-1x Manage

            if(loggedin === 1)
                p.fa-1x-black Welcome, #{user_name}
                a.o-header-nav__link(href='/logout')
                    .fa-1x Log out
                    //i.fa.fa-star
            else
                a.o-header-nav__link(href='/login')
                    .fa-1x Log in
                    //i.fa.fa-star

        header.o-header
            .o-container
                a(href='/')
                    h1.o-header__title Phocas
        #prev
            #btnPrev
                button(class="btn") Previous
        #next
            #btnNext
                button(class="btn") Next

        if(allowOthersToEdit === 1)
            main.o-content
                .o-container
                    a(href='/edit_comic/' + title) Edit this comic!


        header.o-header
            .o-container
                a(href='/comic_page/' + randomTitle)
                    h1.o-header__title Random


        footer.o-footer
            .o-container
                small © 2016, Phocas
