extends layout

block scripts
    script(type='text/javascript').
      var uploadImageList = !{JSON.stringify(imageList)};
      var title = !{JSON.stringify(title)};
      var imageList = imageList || {};

    script(src= '/javascript/edit_comic.js')

block content

    #header
        h2 Phocas
        
    
    form#forUploadImage(name="uploadImage",method="post",action="/upload" enctype="multipart/form-data") Select an image to upload:
        input#comicSetTitleForImage(type="text", name="title", value="#{title}")
        input#inputImage(type="file", name="image")
        button#btnUpload(type="submit") Upload Image


    ul
        each image, i in imageList
            li
                input(class="uploadedImagePosition" type='text', name='imagePosition', value = '#{image.imagePosition}')
                img(class="uploadedImage", src='#{image.imageUrl}')
                button(class="deleteImageButton") Delete this image


    div#allowEditSection
        input#allowEditCheckBox(type='checkbox', checked=false)
        h1 Allow other contributors to edit this comic set.
    h1  Enter the comic set name and then save
    input#comicSetTitle(type="text", value="#{title}")
    button#btmSaveComicSet Save comic set
        
        
    #footer
        | Copyright © Phocas


