extends layout

block scripts
    script(type='text/javascript').
      var uploadImageList = !{JSON.stringify(imageList)};
      var title = !{JSON.stringify(title)};
      var imageList = imageList || {};

    script(src= '/javascript/edit_comic.js')

block content

    head
        link(rel='stylesheet', href='/stylesheets/style-page.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        
    body
        nav.o-home-nav
            a.o-home-nav__link(href='/')
                //i.fa.fa-arrow-left
                .fa-1x Home 

        nav.o-home-nav
            if(loggedin === 1)
                a.o-home-nav__link(href='/edit_comic')
                    //i.fa.fa-arrow-left
                    .fa-1x Create
            else
                a.o-home-nav__link(href='/login')
                    //i.fa.fa-arrow-left
                    .fa-1x Create

        nav.o-header-nav
            if(loggedin === 1)
                a.o-header-nav__link(href='/manage_comics')
                    //i.fa.fa-arrow-left
                    .fa-1x Manage
            else
                a.o-header-nav__link(href='/login')
                    //i.fa.fa-arrow-left
                    .fa-1x Manage
            
            form#form
                input#search-input(type='hidden', placeholder='Find a Comic', autocomplete = "off")
                #button-holder


            if(loggedin === 1)
                p.fa-1x-black Welcome, #{user_name}
                a.o-header-nav__link(href='/logout')
                    .fa-1x Log out
                    //i.fa.fa-star
            else
                a.o-header-nav__link(href='/login')
                    .fa-1x Log in
                    //i.fa.fa-star
                    
        header.o-header
            .o-container
                a(href='/')
                    h1.o-header__title Phocas
        
    
    
        
        main.o-content
            .o-container
                .o-section
                form#forUploadImage(name="uploadImage",method="post",action="/upload" enctype="multipart/form-data") Select an image to upload:
                    input#comicSetTitleForImage(type="text", name="title", value="#{title}")
                    input#inputImage(type="file", name="image")
                    button#btnUpload(type="submit") Upload Image
                ul
                    each image, i in imageList
                        li
                            input(class="uploadedImagePosition" type='text', name='imagePosition', value = '#{image.imagePosition}')
                            img(class="uploadedImage", src='#{image.imageUrl}')
                            button(class="deleteImageButton") Delete this image
                div
                #allowEditSection
                    input#editedbyothers(type="text", value="#{Y/N}")
                    t1 Allow other contributors to edit this comic set (Y/N).
                t2  Enter the comic set name and then save
                br
                input#comicSetTitle(type="text", value="#{title}")
                button#btmSaveComicSet Save comic set


    // ul
    //     each image, i in imageList
    //         li
    //             input(class="uploadedImagePosition" type='text', name='imagePosition', value = '#{image.imagePosition}')
    //             img(class="uploadedImage", src='#{image.imageUrl}')
    //             button(class="deleteImageButton") Delete this image


    // div
    // #allowEditSection
    //     input#allowEditCheckBox(type='checkbox', checked=false)
    //     h1 Allow other contributors to edit this comic set.
    // h1  Enter the comic set name and then save
    // input#comicSetTitle(type="text", value="#{title}")
    // button#btmSaveComicSet Save comic set
        
        
    #footer
        | Copyright © Phocas


