extends layout

block scripts
    script(type='text/javascript').
        var comicSetData = !{JSON.stringify(comicSetList)};
        //var user = !{JSON.stringify(username)};
        //var log = !{JSON.stringify(loggedin)};
    script(src='/javascript/star.js')

    script(type='text/javascript').
        //...
    script(src='/javascript/search.js')

    script(type='text/javascript').
        var titleList = !{JSON.stringify(titleList)};
    script(src='/javascript/home_page.js')

    script(type='text/javascript').
        //...
    script(src='/javascript/pagination.js')


block content
    head
        link(rel='stylesheet', href='/stylesheets/style-page.css')
        link(rel='stylesheet', href='/stylesheets/rating.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        script(src='/javascript/rating.js')
        script(src='/javascript/rating_title.js')
        title Phocas Star Rating

    body
        nav.o-header-nav
            a.o-header-nav__link(href='/manage_comics')
                //i.fa.fa-arrow-left
                .fa-1x Manage My Comics

            form#form
                input#search-input(type='text', placeholder='Find a Comic', autocomplete = "off")
                #button-holder
                    img(src='/images/mag.png')

            if(loggedin === 1)
                p.fa-xx Welcome,
                .fa-2x= username
                a.o-header-nav__link(href='/logout')
                    .fa-1x Log out
                    //i.fa.fa-star
            else
                a.o-header-nav__link(href='/login')
                    .fa-1x Log in
                    //i.fa.fa-star

        header.o-header
            .o-container
                a(href='/')
                    h1.o-header__title Phocas

        main
            if (indicator === 1)
                p.fa-1x.blocktext No result for '#{userInput}'...
                p.fa-1x.blocktext Back to #[a(href='/') All Comics]

        main.o-content
            .o-container
                div.div#pagination
                div.div#content
                    #shop


        if (indicator === 0)
            footer.o-footer
                .o-container
                    small © 2016, Phocas
