extends layout

block content
    h1= username
    if (loggedin === 1)
            #login
                a(href = '/logout')
                    img(src="images/logout.jpg", style='height:35px;width=50px;') 

        else
            #login
                a(href = '/login')
                    img(src="images/login.jpg", style='height:30px;width=50px;')    

    

    #manage
        a(href = '/manage_comics') Manage comics


    form#formSearch.form(name="adduser",method="post",action="/")
        input#UserInput.search(type="search", size = 25, placeholder="Find a comic", name="search")
        button#btnSubmit.searchbutton(type="submit") search
    
    ul
        if comicSets.length
            if (indicator === 1)
                li
                    p #{title}
                        each image in animagelist
                            a(href='/comic_page/' + image.comicSetTitle)
                                img#comicSetImage(class="uploadedImage", src= '#{image.imageUrl}')
            else if (indicator === 2)
                p.resultfont No Result for "#{result}"
                p.resultfont #[span Back to] #[a(href='/') All Comics]

            else
                each comicSet, c in comicSets
                    li
                        p #{comicSet.title}
                            each image, i in comicSet.imageList
                                a(href='/comic_page/' + comicSet.title)
                                    img#comicSetImage(class="uploadedImage", src= '#{image.imageUrl}')
        else
            p empty comicSet

         

